<DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Flag 1</title>
            <link rel="stylesheet" href="../static/style.css">
        </head>
        <body>
            <header>
                <div class="logo">HACKER<span>SPACE</span></div>
                <nav>
                    <a href="#about">About</a>
                    <a href="#events">Events</a>
                    <a href="#submit">Submit Flags</a>
                </nav>
            </header>
            
            <iframe width="110" height="200" src="https://www.myinstants.com/instant/tarantella-napoletana-4982/embed/" frameborder="0" scrolling="no"></iframe>
    
            <section id="flag1">
                <h2>Flag 1</h2>
                <p>Congratulations! You have found the first flag. Enjoy some napolitudo!</p>
            </section>
    
            <footer>
                <p>&copy; 2024 Hackerspace. All Rights Reserved.</p>
            </footer>
        </body>
    </html>