<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hacker Space UniPG</title>

    <!-- Stili base per desktop -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Stili per mobile -->
    <link rel="stylesheet" href="../static/css/mobile.css" media="screen and (max-width: 768px)">

    
    <!-- I don't remember what is this, but it seems important: 123-456-789 -->
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <a href="#hero"><div class="logo">HACKER<span>SPACE</span></div></a>

        <!-- Hamburger Menu per mobile -->
        <button class="menu-toggle" aria-label="Apri menu">
            <i class="fas fa-bars"></i>
        </button>

        <nav id="navbar" class="navbar">
            <a href="#about">About</a>
            <a href="#submit">Submit Flags</a>
            <a href="#orari">Orari Corsi</a>
            <a href="https://chat.whatsapp.com/GrSTEoep185AforQRIhgnx" target="_blank" class="whatsapp-link">
                <i class="fab fa-whatsapp"></i> WhatsApp
            </a>
            <div class="logo-container">
                <img src="../static/logo_unipg.svg">
            </div>
        </nav>
    </header>

    <section id="hero">
        <h1>Welcome to <span>Hackerspace</span></h1>
        <p class="hero-introduzione">Il corso di Cybersecurity firmato UniPG</p>
        <p>Mettere logo in alto</p>
        <a href="#about" class="learn-more-container">
            <p class="learn-more-to-about">Learn More</p>
            <div class="arrows-to-about">
                <span class="arrow-to-about"></span>
                <span class="arrow-to-about"></span>
                <span class="arrow-to-about"></span>
            </div>
        </a>
    </section>

    <section id="about">
        <h2>About</h2>
        <p>
            Questo corso di <strong>Cybersecurity</strong> è organizzato dagli studenti per gli studenti.  
            L'obiettivo è esplorare concetti di sicurezza informatica, hacking etico e difesa delle reti.  
            Tutti i livelli di esperienza sono benvenuti, dai principianti ai più esperti.
        </p>
        <p>
            Unisciti a noi per imparare nuove competenze, collaborare con altri appassionati e scoprire il mondo della Cybersecurity!
        </p>
        <br>
        <p class="whatsapp-contact">
            <a href="https://chat.whatsapp.com/GrSTEoep185AforQRIhgnx" target="_blank">
                <i class="fab fa-whatsapp"></i> Unisciti al nostro gruppo WhatsApp
            </a>
        </p>
    </section>    

    <section id="submit">
        <h2>Submit Your Flags</h2>
        <p>Sono presenti delle flag nascoste nel sito. <br> Inseriscile nei campi sottostanti e scopri cosa accade:</p>
        <form id="flag1-form" action="/submit_flag1" method="post">
            <div class="input-group">
                <label for="flag1"><b>Flag 1</b></label>
                <input type="text" id="flag1" name="flag1" placeholder="Enter your first flag" required>
                <button type="submit" class="btn">Submit</button>
                <button id="play-sound-button1" class="btn sound-button" style="display: none;">
                    <i class="fas fa-volume-up"></i>
                </button>                
            </div>
        </form>

        <form id="flag2-form" action="/submit_flag2" method="post">
            <div class="input-group">
                <label for="flag2"><b>Flag 2</b></label>
                <input type="text" id="flag2" name="flag2" placeholder="Enter your second flag" required>
                <button type="submit" class="btn">Submit</button>
                <button id="play-sound-button2" class="btn sound-button" style="display: none;">
                    <i class="fas fa-volume-up"></i>
                </button>                
            </div>
        </form>

        <form id="flag3-form" action="/submit_flag3" method="post">
            <div class="input-group">
                <label for="flag3"><b>Flag 3</b></label>
                <input type="text" id="flag3" name="flag3" placeholder="Enter your third flag" required>
                <button type="submit" class="btn">Submit</button>
                <button id="play-sound-button3" class="btn sound-button" style="display: none;">
                    <i class="fas fa-volume-up"></i>
                </button>                
            </div>
        </form>
        <div id="message-banner" class="hidden"></div>
    </section>

    <section id="orari">
        <h2>Orari dei Corsi</h2>
        <p>Il corso di Hackerspace si tiene una volta a settimana:</p>
        <ul>
            <li>Venerdì: 14:30 - 18:00</li>
        </ul>
    </section>


    <!-- Bottone per tornare in cima -->
    <button id="scroll-to-top-btn" class="scroll-to-top-btn">
        <i class="fas fa-arrow-up"></i>
    </button>


    <footer>
        <p>&copy; 2024 Hackerspace. All Rights Reserved.</p>
    </footer>

    <script src="../static/script/script.js"></script>

</body>
</html>